@import "_variables.scss";
@import "_mixins.scss";
.about {
  color: #333;
  /*  background-image: url(../img/H/shop2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; */
  height: 100vh;
}
.about-header {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
  margin: 2rem auto;
  text-align: center;
}
.about-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.about-images {
  @include flex-col;
  justify-content: space-evenly;

  height: 100%;
  width: 40%;
}
.about-text {
  color: white;
  font-size: 3rem;
  width: 40%;
}
.about-img {
  height: 30%;
}
