@import "_variables.scss";

.header {
  position: relative;
  height: 95vh;
  background-color: color(primary);
}

.header-main {
  font-size: 8rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  animation: fade-in 2s ease-in;
}
@keyframes slide-in {
  0% {
    left: -100%;
  }
  100% {
    left: 50%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
